* {
  box-sizing: border-box;
}
*::before, *::after {
  box-sizing: border-box;
}



a {
  display: block;
  width: 100%;
  height: 100%;
  
}

.menu-opener {
  -webkit-transition: 250ms all;
  transition: 250ms all;
  
  
}
.menu-opener:hover, .menu-opener.active {
  -webkit-transition: 250ms all;
  transition: 250ms all;
}

.menu-opener-inner {
  -webkit-transition: 250ms all;
  transition: 250ms all;
}
.menu-opener-inner::before, .menu-opener-inner::after {
  -webkit-transition: 250ms all;
  transition: 250ms all;
}

.menu {
  -webkit-transition: 250ms all;
  transition: 250ms all;
  
}
.menu.active {
  -webkit-transition: 250ms all;
  transition: 250ms all;
  
}

.menu-opener {
  cursor: pointer;
  height: 64px;
  position: absolute;
  top: 2%;
  left: 1%;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  width: 64px;
  z-index: 20;
}
.menu-opener:hover, .menu-opener.active {
  background: #00a78e;
  
}

.menu-opener-inner {
  background: #fff;
  height: 0.5rem;
  margin-left: 0.75rem;
  margin-top: 1.75rem;
  width: 2.5rem;
}
.menu-opener-inner::before, .menu-opener-inner::after {
  background: white;
  content: "";
  display: block;
  height: 0.5rem;
  width: 2.5rem;
}
.menu-opener-inner::before {
  -webkit-transform: translateY(-0.75rem);
          transform: translateY(-0.75rem);
}
.menu-opener-inner::after {
  -webkit-transform: translateY(0.25rem);
          transform: translateY(0.25rem);
}
.menu-opener-inner.active {
  background: transparent;
  
}
.menu-opener-inner.active::before {
  -webkit-transform: translateY(0rem) rotate(-45deg);
          transform: translateY(0rem) rotate(-45deg);
}
.menu-opener-inner.active::after {
  -webkit-transform: translateY(-0.5rem) translateX(0rem) rotate(45deg);
          transform: translateY(-0.5rem) translateX(0rem) rotate(45deg);
}

.menu {
  background: #00a78e;
  color: transparent;
  height: 64px;
  position: absolute;
  top: 2%;
  left: 1%;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  width: 0rem;
  z-index: -15;
}
.menu.active {
  width: calc(100% - 2rem);
  z-index: 15;
}
.menu.active .menu-link {
  color: white;
}

.menu-inner {
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
          flex-direction: row;
  height: 100%;
  list-style-type: none;
  margin: 0;
  margin-left: 4rem;
  padding: 0;
  
}

.menu-link {
  color: transparent;
  display: -webkit-box;
  display: flex;
  -webkit-box-flex: 1;
          flex: 1 1 auto;
  font-size: 2rem;
  font-weight: 100;
  height: 100%;
  text-align: center;
  text-decoration: none;
}
.menu-link li {
  margin: auto;
}

.img {
  height: 10px !important;
}

@media screen and (max-width: 768px) {

  img{
    vertical-align: middle;
    max-width: 10% !important;
    display: none;
  }
  .menu {
    height: auto;
    background: #d6bf3e;
    
  }

  .menu-inner {
    display: block;
  }

  .menu-link {
    padding: 7px 0;
    font-size: 1.2em;
  }

  .menu.active {
    width: calc(100% - 0.5rem);
    
  }

  .menu-opener:hover, .menu-opener.active {
    background: #d6bf3e;
    
  }
}